/*-----------------------------------------------------------------------------
Arc Plastering Style Sheet

version:   1.0
author:    rob lavender
email:     robert@lavenderwebdesign.co.uk
website:   http://www.lavenderwebdesign.co.uk

Typography, Headings, Links, Layout, Branding, 
Main Nav, Sub Nav, Main Content, Secondary Content, 
Footer, Forms, Tables

Pantone Ref details:

Dark blue: Hex:  #1b477b

-----------------------------------------------------------------------------*/
/* =Branding
-----------------------------------------------------------------------------*/
header .contactdetails {
  padding: 0 0 15px 0;
  color: #fff;
  font-size: 1.3em;
  line-height: 1.5em; }

header a,
header a:visited,
header a:link,
header a:active {
  color: #fff; }

@media (min-width: 640px) {
  header .contactdetails {
    margin: 15px 15px 0 0; }
  .contactdetails {
    float: right;
    text-align: right; } }

@media (min-width: 900px) {
  header .contactdetails {
    margin: 25px 60px 0 0; }
  header {
    font-size: 1.5em; }
  #headerinner {
    max-width: 960px; } }

/* =Layout
-----------------------------------------------------------------------------*/
header {
  background-color: #013300; }

#headerinner {
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

main {
  padding: 10px 10px 20px; }

aside {
  padding-top: 1em; }

footer {
  clear: both;
  margin: 1em 0 0 0;
  padding: 10px 0px;
  font-size: 1.2em;
  border-top: 1px solid #013300; }

@media (min-width: 640px) {
  header {
    width: 100%;
    margin: 0px;
    height: 215px;
    background-color: #003300;
    background-image: url(/images/wild-flowers.jpg);
    background-repeat: no-repeat;
    background-position: top center; }
  #headerinner {
    margin: 0 auto; }
  .logo {
    padding: 0;
    float: left;
    max-height: 179px; }
  nav {
    float: left;
    width: 30%; }
  main {
    width: 80%;
    margin: -37px auto 0;
    background-image: url(/images/bkg-left.png), url(/images/bkg-right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    padding: 10px 55px 20px;
    min-height: 200px;
    text-align: left; }
  #maincontent {
    float: left;
    width: 68%;
    padding: 0; }
  aside {
    float: right;
    width: 30%; } }

@media (min-width: 1000px) {
  main {
    width: 880px; } }

/* =Main Nav
-----------------------------------------------------------------------------*/
/*
** Primary Menu blocks
*/
.menu {
  margin: 0 0 3em 0;
  padding: 0; }

.menu li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline; }

nav ul.menu li a {
  display: block;
  padding: 8px 5px;
  margin: 1px 0;
  border-bottom: 1px dotted #000;
  text-decoration: none;
  color: #666;
  font-size: 1.2em; }

nav ul.menu li a:hover {
  border-bottom: 1px dotted #1b477b;
  color: #1b477b;
  text-decoration: none;
  background-color: #eee; }

/* Highlight the active menu item  */
.home .menu li.home a,
.aboutus .menu li.aboutus a,
.services .menu li.services a,
.prices .menu li.prices a {
  color: #1b477b;
  border-bottom: 1px solid #1b477b;
  background-color: #eee; }

/*
** Menu - Horizontal menu
*/
#footer .menu li a,
.header-nav .menu li a {
  border-right: 1px dotted #000;
  color: #000;
  display: block;
  float: left;
  font-size: 1.3em;
  padding: 4px 15px;
  margin: 1px 0;
  text-decoration: none; }

#footer .menu li a:hover,
.header-nav .menu li a:hover {
  color: #333;
  text-decoration: underline; }

#footer .menu li a.active,
.header-nav .menu li a.active {
  color: #333;
  text-decoration: underline; }

/*-----------------------------------------------------------------------------*/
/* =Reset
-----------------------------------------------------------------------------*/
/* Remove padding and margin */
* {
  margin: 0;
  padding: 0; }

/* Put it back on certain elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
  margin: .7em 0; }

/* Class for clearing floats */
.clear {
  clear: both; }

/* Remove border around linked images */
img {
  border: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.nav-toggle {
  position: relative;
  padding-left: 1.25em;
  margin: 1.25em 0;
  font-size: 1.2em; }

.nav-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 4px 0 0 black, 0 8px 0 0 black; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }
  .js .nav-collapse.closed {
    max-height: none; }
  .nav-toggle {
    display: none; } }

/* =Headings
-----------------------------------------------------------------------------*/
body {
  font-family: helvetica, verdana, tahoma, arial, "trebuchet ms"; }

h1, h2, h3, h4 {
  color: #013300; }

h1.title {
  padding: 0 0 3px 0; }

h1 {
  font-size: 1.8em;
  font-weight: normal; }

h2 {
  font-size: 1.4em;
  padding: 0 0 .2em 0;
  margin: 1.2em 0 0.8em;
  font-weight: normal;
  border-bottom: 1px solid #013300; }

h3 {
  font-size: 1.4em;
  padding: 0 0 0px 0;
  margin: 1.2em 0 0.4em;
  font-weight: normal; }

@media (min-width: 650px) {
  h1 {
    font-size: 2.4em; }
  h2 {
    font-size: 1.8em; } }

aside h2 {
  border-bottom: 1px solid #ddd; }

aside img {
  margin: 0 auto;
  display: block;
  padding-top: 5px;
  text-align: center; }

/* =Main Elements
-----------------------------------------------------------------------------*/
p {
  padding: 0;
  margin: 0 0 .7em 0;
  color: #013300; }

p.first {
  font-size: 1.6em;
  line-height: 1.7em;
  color: #013300;
  background-color: #CCEFFF;
  padding: 1em;
  border-bottom: 2px solid #00B0FF; }

ul {
  list-style-type: disc;
  font-size: 1.2em;
  list-style-position: inside;
  margin-left: 1em; }

ol {
  font-size: 1.2em;
  padding-left: 1em; }

/* =Links
-----------------------------------------------------------------------------*/
a, a:link, a:active {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000; }

a:hover {
  text-decoration: underline; }

.simpleCart_items {
  font-size: 1.1em;
  line-height: 1.3em;
  clear: both; }

.simpleCart_items .headerRow {
  width: 100%;
  float: left; }

.simpleCart_items .headerRow div,
.simpleCart_items .itemRow div {
  float: left;
  margin: 5px; }

.itemContainer a {
  text-decoration: none; }

.cartHeaders {
  width: 100%;
  float: left; }

.cartHeaders div {
  float: left;
  margin: 5px 20px 5px 20px; }

.simpleCart_shelfItem {
  clear: both;
  margin-bottom: 1em; }

.simpleCart_shelfItem img {
  float: left;
  margin-right: 15px; }

.item_price {
  font-size: 22px;
  margin-right: 15px; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745; }

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.simpleCart-sidebar {
  float: left;
  margin-left: -38em;
  border: 1px solid #ddd;
  width: 270px; }

.contact-form input {
  width: 100%;
  padding: 0.3em;
  border: 1px solid #999; }

.contact-form textarea {
  width: 100%;
  padding: 0.3em;
  border: 1px solid #999; }

.form-group {
  margin: 1em 0; }

.form-group label {
  font-size: 1.3em; }

input[type="submit"], button {
  padding: .7em 1.5em;
  margin: .5em 0;
  color: #fff;
  background-color: #013300;
  font-size: 1.4em;
  line-height: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  width: auto; }

/* =Typography
-----------------------------------------------------------------------------*/
/*
** HTML elements
*/
body {
  padding: 0 0 0 0;
  margin: 0 auto;
  font-size: 62.5%; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* =Main Content
-----------------------------------------------------------------------------*/
#maincontent p {
  font-size: 1.4em;
  line-height: 1.5em; }

#maincontent ul {
  line-height: 1.6em;
  font-size: 1.4em; }

#maincontent ol {
  line-height: 1.6em;
  font-size: 1.4em; }

ul.services li {
  display: block;
  width: 210px;
  float: left;
  background: url(/images/tick-orange.jpg) no-repeat top left;
  padding: 5px 0px 5px 40px; }

#sidebar ul {
  line-height: 1.6em;
  font-size: 1.4em; }

/* =Secondary Content
-----------------------------------------------------------------------------*/
/* =Misc 1
-----------------------------------------------------------------------------*/
table.prices td {
  background-color: #eee;
  padding: 4px 5px;
  border-top: 5px solid #fff;
  font-size: 1.3em; }

/* =Misc 2
-----------------------------------------------------------------------------*/
blockquote {
  padding: 0px;
  margin: 2em 0;
  clear: both; }

#maincontent blockquote p {
  border-top: 1px solid #00B0FF;
  border-bottom: 1px solid #00B0FF;
  padding: 5px;
  text-align: center;
  color: #00B0FF;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0; }

#maincontent blockquote p strong {
  font-size: 1.3em;
  margin: 0 .2em; }
