<header>
  <div id="headerinner">
    <img class="logo"
      srcset="/images/logo-arc-sm.jpg 238w, /images/logo-arc.jpg 446w"
      sizes="(max-width: 480px) 238px, 446px"
      src="/images/logo-arc.jpg" alt="Arc Plastering">
    <div class="contactdetails">
      <div class="mobile">Mob: <a href="tel:07850900919">07850 900 919</a></div>
      <div class="tel">Tel: <a href="tel:01913940212">0191 394 0212</a></div>
      <div class="email">Email: <a href="mailto:arcplastering@gmail.com">arcplastering@gmail.com</a></div>
    </div>
  </div>
</header>