<ul class="menu">
  <li class="home"><a href="/" title="Home">Home</a></li>
  <li class="aboutus"><a href="/about" title="About Us">About Us</a></li>
  <li class="our-honey"><a href="/our-honey" title="Our Honey">Our Honey</a></li>
  <li class="stockists"><a href="/stockists" title="Stockists">Stockists</a></li>
  <li class="faqs"><a href="/faqs" title="FAQs">FAQs</a></li>
  <li class="links"><a href="/links" title="Links">Links</a></li>
  <li class="links"><a href="/order" title="Links">Buy Online</a></li>
</ul>