.simpleCart_items {
  font-size: 1.1em;
  line-height: 1.3em;
  clear: both;
}

.simpleCart_items .headerRow {
    width: 100%;
    float: left;
}

.simpleCart_items .headerRow div,
.simpleCart_items .itemRow div {
    float: left;
    margin: 5px;
}

.itemContainer a {
    text-decoration: none;
}

.cartHeaders {
    width: 100%;
    float: left;
}

.cartHeaders div {
    float: left;
    margin: 5px 20px 5px 20px ;
}

.simpleCart_shelfItem {
    clear: both;
    margin-bottom: 1em;
}

.simpleCart_shelfItem img{
    float: left;
    margin-right: 15px;
}

.item_price {
    font-size: 22px;
    margin-right: 15px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.simpleCart-sidebar {
    float: left;
    margin-left: -38em;
    border: 1px solid #ddd;
    width: 270px;
}

.headerRow .item-name,
.itemRow .item-name {

}

.headerRow .item-price,
.itemRow .item-price {

}

.headerRow .item-quantity,
.itemRow .item-quantity {

}

.headerRow .item-remove,
.itemRow .item-remove {

}