/*-----------------------------------------------------------------------------
Arc Plastering Style Sheet

version:   1.0
author:    rob lavender
email:     robert@lavenderwebdesign.co.uk
website:   http://www.lavenderwebdesign.co.uk

Typography, Headings, Links, Layout, Branding, 
Main Nav, Sub Nav, Main Content, Secondary Content, 
Footer, Forms, Tables

Pantone Ref details:

Dark blue: Hex:  #1b477b

-----------------------------------------------------------------------------*/

@import 'header';
@import 'layout';
@import 'nav';
@import 'reset';
@import 'responsive-nav';
@import 'typography';
@import 'cartjs';

/* =Typography
-----------------------------------------------------------------------------*/
/*
** HTML elements
*/

body  {
  padding: 0 0 0 0;
  margin: 0 auto;
  font-size: 62.5%;
  color: #184070;
  //text-align: center;
}

/* =Main Content
-----------------------------------------------------------------------------*/

#maincontent p { 
  font-size: 1.4em;
  line-height: 1.5em;
}

#maincontent ul { 
  line-height: 1.6em;
  font-size: 1.4em;
}

#maincontent ol { 
  line-height: 1.6em;
  font-size: 1.4em; 
}

ul.services li { 
  display: block; 
  width: 210px;
  float: left;
  background: url(/images/tick-orange.jpg) no-repeat top left;
  padding:5px 0px 5px 40px;
}

#sidebar ul { 
  line-height: 1.6em;
  font-size: 1.4em;
}

/* =Secondary Content
-----------------------------------------------------------------------------*/

/* =Misc 1
-----------------------------------------------------------------------------*/

table.prices td { background-color: #eee; padding:4px 5px;  border-top:5px solid #fff; font-size: 1.3em; }

/* =Misc 2
-----------------------------------------------------------------------------*/

blockquote { 
	padding:0px; 
	margin:2em 0; 
	clear:both; 
}
#maincontent blockquote p { 
	border-top: 1px solid #00B0FF; 
	border-bottom: 1px solid #00B0FF; 
	padding:5px; 
	text-align: center; 
	color: #00B0FF; 
	font-size:2em; 
	line-height:1.5em; 
	margin:0; 
}

#maincontent blockquote p strong { 
  font-size: 1.3em;
  margin:0 .2em;
}