
/* =Layout
-----------------------------------------------------------------------------*/

#header { 
  background-color: #081d30;
}

#headerinner {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 10px 10px 20px;
}

#footer { 
  clear:both;
  margin: 0 30px;
  padding: 10px 0px;
  font-size: 1.2em;
  border-top: 1px solid #1E3A5D;
}

@media (min-width: 650px) {

  #header { 
    width: 100%;
    margin: 0px;
    height: 215px;
    background-color: #081d30;
  }

  #headerinner { 
    //width: 1040px;
    margin: 0 auto;
  }

  .logo { 
    padding: 0;
    float: left; 
  }

  main > ul.menu {
    float: left;
    width: 30%;
  }

  main { 
    width: 650px;
    margin: -37px auto 0;
    background: url(/images/bkg.jpg) no-repeat top center;
    padding: 10px 0px 20px;
    min-height: 200px;
    text-align: left;
  }

  #maincontent { 
    min-height: 200px;
    float: right;
    width: 60%;
    //margin: 0 39px 20px 15px;
    padding: 0px;
  }

  #sidebar { 
    float: left;
    width: 30%;
    //margin: 10px 10px 0px 0px;
    //padding: 0px 0 20px 25px;
    clear: left;
  }

  #footer {
    //width: 900px;
  }
}