/* =Headings
-----------------------------------------------------------------------------*/
body  {
  font-family: helvetica, verdana, tahoma, arial, "trebuchet ms";
}
  
h1,h2,h3, h4 { color: #1b477b; }

h1.title { padding:0 0 3px 0; }

h1 { font-size:2.4em; font-weight:normal; }
h2 { font-size:1.8em; padding:0 0 .2em 0; margin:1.2em 0 0.8em; font-weight:normal; border-bottom: 1px solid #1b477b; }
h3 { font-size:1.4em; padding:0 0 0px 0; margin:1.2em 0 0.4em; font-weight:normal; }

#sidebar h2 { border-bottom: 1px solid #ddd; }

#sidebar img { margin: 0 auto; display: block; padding-top:5px; text-align: center; }


/* =Main Elements
-----------------------------------------------------------------------------*/

p { 
  padding:0; margin:0 0 .7em 0;
  color:#1b477b;
}

p.first { 
  font-size: 1.6em;
  line-height: 1.7em;
  color: #302f8f;
  background-color: #CCEFFF;
  padding: 1em;
  border-bottom: 2px solid #00B0FF; }

ul { 
  list-style-type: disc;
  font-size:1.2em;
  list-style-position: inside;
  margin-left:2em;
}

ol { 
  font-size: 1.2em;
  padding-left: 2em;
}

/* =Links
-----------------------------------------------------------------------------*/

a, a:link, a:active { 
  color: #000;
  text-decoration:none;
}

a:visited { 
  color: #000;
}

a:hover { 
  text-decoration: underline;
}